/*common css start*/
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*common css end*/

/*header start*/
header{
	background-color: #121B2A;
}
.wrapper {
	overflow: hidden;
	margin: 0 auto;
	padding: 10px 0;
	width: 80%;
	/*border: 1px solid blue;*/
}

.logo {
	float: left;
	width: 15%;
	/*border: 1px solid black;*/
}
.logo img{
	width: 100%;
}

.menu {
	margin: -9.6px;
	float: right;
	width:70% ;
	/*border: 1px solid black;*/
}
.header-topper{
float:right;
}

.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;

}
.menu ul li a{
	margin: 0 10px;
	text-decoration: none;
	display: inline-block;
	color: white;
}
.menu ul li:last-child a {
	margin-right: 0;
}
.menu ul li:first-child a{
color: #08466F;
}

/*header end*/